main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
}

.line {
  display: flex;
  align-items: center;
}

.square {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
